.action {
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-family: "Fira Code", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    margin-right: 30px;
}
.action::before {
    content: "";
    background-color: #62C370;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}