.arrow-button {
    cursor: pointer;
    border: transparent;
    width: 50px;
    height: 50px;
}
.arrow-button.-transparent-bg {
    background-color: transparent;
}
.arrow-button::before {
    display: block;
    box-sizing: border-box;
    content: '';
    width: 15px;
    height: 15px;
    border: 15px solid transparent;
    border-right: 28px solid #000;
    transform: translateX(-10px);
}
.arrow-button.-right::before {
    transform: rotate(180deg) translate(-5px);
}
.arrow-button .content {
    display: none;
}