.box {
    display: inline-block;
    background-color: #3A4042;
    box-shadow: 10px 10px 0px #000;
    text-align: center;
    padding: 40px 42px;
}
.box .title {
    color: #62C370;
    margin-bottom: 28px;
    text-shadow: 4px 4px 0px #000;
}
.box .subtitle {
    color: #FFFFFF;
    text-shadow: 4px 4px 0px #000;
}