.button {
    display: inline-block;
    color: #FFFFFF;
    background-color: #62C370;
    box-shadow: 5px 5px 0px #000;
    font-family: "Fira Code", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    line-height: 60px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 0px;
    transition: transform 100ms linear;
}
.button:hover {
    transform: scale(1.05);
}