.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
}
.card-project.-white-bg {
    background-color: #FFF;
}
.card-project.-border-radius {
    border-radius: 20px;
}
.card-project .logo {
    width: 200px;
    height: 200px;
}