.main-subtitle {
    font-size: 30px;
    font-family: "Press Start 2P", sans-serif;
}
.main-subtitle.-white-color {
    color: #FFF;
}
.main-subtitle.-text-shadow {
    text-shadow: 4px 4px 0px #000;
}