.main-title {
    font-size: 50px;
    font-family: "Ubuntu", sans-serif;
}
.main-title.-white-color {
    color: #FFF;
}
.main-title.-black-color {
    color: #000;
}
.main-title.-align-center {
    text-align: center;
}
.main-title.-margin-bottom-60px {
    margin-bottom: 60px;
}
.main-title.-nickweege {
    margin-bottom: 28px;
}