.main-section {
    padding-top: 50px;
}
.main-section.-black-bg{
    background-color: #000;
}
.main-section.-gray-bg {
    background-color: #c7c6c6;
}
.main-section.-black-border {
    border-bottom: 10px solid #000;
}
.main-section.-skills {
    height: 730px;
}
.main-section.-projects {
    height: 530px;
}
.main-section.-about {
    height: 790px;
}