.main-button {
    display: inline-block;
    color: #FFFFFF;
    background-color: #62C370;
    border: 5px solid #000;
    font-family: "Fira Code", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    line-height: 60px;
    padding-right: 20px;
    padding-left: 20px;
    transition: transform 100ms linear;
}
.main-button:hover {
    transform: scale(1.05);
}