.main-carousel {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 50px;
}
.main-carousel .items {
    width: 100%;
    overflow: hidden;
}
.main-carousel .items-elements {
    display: flex;
    justify-content: space-between;
    overflow: visible;
    transition: transform 200ms ease-in-out;
}
.main-carousel::before {
    content: '';
    box-sizing: border-box;
    width: 100%;
    border: 2px dashed #000;
    position: absolute;
    bottom: 184px;
    left: 0px;
}
.main-carousel::after {
    content: '';
    box-sizing: border-box;
    width: calc(100% - 80px);
    border: 2px solid #000;
    position: absolute;
    bottom: 184px;
    left: 40px;
}
.main-carousel .arrow-button {
    position: absolute;
    bottom: 70px;
    transform: translateY(50%);
}
.main-carousel .arrow-button.-left {
    left: 15px;
}
.main-carousel .arrow-button.-right {
    right: 15px;
}