.main-description {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 1.3;
    margin-left: 80px;
    margin-right: 80px;
}
.main-description.-black-color {
    color: #000;
}