.main-button {
    display: inline-block;
    font-family: "Ubuntu", sans-serif;
    color: #FFF;
    background-color: #000;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    line-height: 60px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
}
.main-button:hover {
    color: #000;
    background-color: #FFF;
}