.node-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.node-card .title {
    color: #FFF;
    font-family: "Press Start 2P", sans-serif;
    font-size: 25px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 0 #000;
}
.node-card .logo {
    display: flex;
    align-items: center;
    background-color: #CEB02A;
    height: 140px;
    padding-left: 20px;
    padding-right: 20px;
    border: 5px solid #000;
}
.node-card::before {
    content: '';
    box-sizing: border-box;
    width: 40px;
    border: 2px dashed #000;
    transform: rotate(90deg);
    position: absolute;
    bottom: 165px;
}