.node-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.node-card .title {
    color: #000;
    font-family: "Ubuntu", sans-serif;
    font-size: 25px;
    margin-bottom: 50px;
}
.node-card::before {
    content: '';
    box-sizing: border-box;
    width: 5px;
    border: 2px dashed #000;
    transform: rotate(90deg);
    position: absolute;
    bottom: 181px;
}
.node-card .logo {
    display: flex;
    align-items: center;
    background-color: #FFF;
    padding: 20px 20px;
}
.logo .img {
    height: 140px;
}