.progress-bar {
    box-sizing: border-box;
    background-color: #FFF;
    width: 320px;
    height: 30px;
    border: 5px solid #000;
}
.progress-bar::-moz-progress-bar {
    background-color: #FFF;
}
.progress-bar::-moz-progress-value {
    background-color: #000;
}
.progress-bar::-webkit-progress-bar {
    background-color: #FFF;
}
.progress-bar::-webkit-progress-value {
    background-color: #000;
}