.progress-bar {
    box-sizing: border-box;
    background-color: #FFF;
    height: 40px;
    border: 5px solid #000;
    margin-left: 25px;
}
.progress-bar::-webkit-progress-bar {
    background-color: #FFF;
}
.progress-bar::-webkit-progress-value {
    background-color: #000;
}