.skills {
    background-color: #62C370;
    height: 730px;
    border-bottom: 10px solid #000;
    padding: 50px 235px 100px;
}
.skills .title {
    color: #FFF;
    text-shadow: 4px 4px 0px #000;
    margin-bottom: 60px;
    margin-left: 600px;
    margin-right: 600px;
}