.tec-skill {
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: "Ubuntu", sans-serif;
    font-size: 25px;
}
.tec-skill .icon {
    width: 90px;
    margin-right: 25px;
    background-color: #FFF;
    border-radius: 10px;
    padding: 10px 10px;
}
.tec-skill .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.tec-skill .title {
    color: #000;
    margin-bottom: 10px;
}