.wrapper-skill {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.wrapper-skill .tec-skill {
    width: 480px;
    margin-bottom: 40px;
}