.wrapper-project {
    display: flex;
    flex-wrap: wrap;
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
}
.wrapper-project .card-project {
    margin-right: 150px;
}
.wrapper-project .card-project.-portfolio-icon {
    margin-right: 0;
}