.wrapper-node-card {
    margin-left: 15px;
    margin-right: 15px;
}
.wrapper-node-card .node-card {
    margin-right: 50px;
}
.wrapper-node-card .node-card.-collabcode-node-card {
    margin-right: 0;
}